<!-- build:ads_3_style -->
    <link rel="stylesheet" href="assets/css/ads_3_style.css">
<!-- /build:ads_3_style -->

<!-- build:ads_3 -->
    <div class="title">
        <a href="#">
            <h1>TƯ VẤN SINH LÝ NGƯỜI BỆNH GÚT</h1>
        </a>
    </div>
    <div class="contain">
        <ul class="list">
            <li>
                <a href="#">
                    <img src="assets/image/ads-300x600-img1.png" alt="anh">
                    <div>Mắc gút vẫn "yêu" sung mãn nhờ "bí mật" của Vua voi </div>
                </a>
            </li>
            <div class="clearfix"></div>
            <hr>
            <li>
                <a href="#">
                    <img src="assets/image/ads-300x600-img2.png" alt="anh">
                    <div>Lối thoát cho người bệnh gút bị yếu sinh lý từ chuyên gia</div>
                </a>
            </li>
            <div class="clearfix"></div>
            <hr>
            <li>
                <a href="#">
                    <img src="assets/image/ads-300x600-img3.png" alt="anh">
                    <div>Đột phá mới kiến người bệnh gút luôn sung mãn</div>
                </a>
            </li>
            <div class="clearfix"></div>
            <hr>
            <li>
                <a href="#">
                    <img src="assets/image/ads-300x600-img4.png" alt="anh">
                    <div>Khám phá bí truyền giúp người mắc gút là "mãnh hổ" phòng the</div>
                </a>
            </li>
            <div class="clearfix"></div>
            <hr>
            <li>
                <a href="#">
                    <img src="assets/image/ads-300x600-img5.png" alt="anh">
                    <div>Từng muốn chết vì bệnh gút và cái kết thay đổi cuộc đời</div>
                </a>
            </li>
            <div class="clearfix"></div>
            <hr>
        </ul>
        <hr>
        <div class="end">
            <a href="#">
                <div class="contact">hoangtiendan.com.vn</div>
                <div>tài trợ thông tin</div>
            </a>
        </div>
    </div>
<!-- /build:ads_3 -->
<!-- build:ads_2_style -->
<link rel="stylesheet" href="assets/css/ads_2_style.css">
<!-- /build:ads_2_style -->

<!-- build:ads_2 -->
<div class="title">
    <a href="#">
        <h1>KHÁM SỨC KHỎE CHUYÊN SÂU</h1>
    </a>
</div>
<div class="contain">
    <div class="item">
        <a href="#">
            <img src="assets/image/ads-160x600-img.png" alt="anh">
            <div class="title-item">
                6 lầm tưởng tai hại về vấn đề sức khỏe
            </div>
            <div class="detail-item">
                "Loại bỏ ngay 6 lầm tưởng mà bạn luôn nghĩ là đơn giản ngay..."
            </div>
        </a>
    </div>
    <hr>
    <ul class="list">
        <li><a href="#">Những điều bác sỹ không nói với bạn!</a></li>
        <hr>
        <li><a href="#">Giảm 30% khám sức khỏe cá nhân tại Hồng Ngọc</a></li>
        <hr>
        <li><a href="#">Đang khỏe mạnh có cần đi khám sức khỏe không?</a></li>
    </ul>
    <hr>
    <div class="end">
        <a href="#">BV Hồng Ngọc</a>
    </div>
</div>

<!-- /build:ads_2 -->
<!-- build:ads_1_style -->
<link rel="stylesheet" href="assets/css/ads_1_style.css">
<!-- /build:ads_1_style -->


<!-- build:ads_1 -->
<div class="title">
    <a href="#">TƯ VẤN SINH LÝ NGƯỜI BỆNH GÚT</a>
</div>
<div class="contain">
    <div class="item">
        <a href="#">
            <img src="../image/ads_300x250-img1.png" alt="anh">
            <div class="item-content">
                <div class="item-title">Cách giúp chấm đứt bệnh gút chỉ sau 3 tháng của một kế</div>
                <div class="item-detail">Chỉ sau 3 tháng, sức khỏe của chú Hỷ đã trở lại bình thường, cơn đau gút hầu
                    như không...</div>
            </div>

        </a>
    </div>
    <div class="clearfix"></div>
    <hr>
    <ul class="list item-1">
        <li><a href="#">Bước tiến quan trọng tăng cường sinh lý cho người bệnh gút</a></li>
    </ul>
    <hr>
    <ul class="list item-2">
        <li><a href="#">"Viagra tự nhiên" giúp người bệnh gút là mãnh hổ "phòng the"</a></li>
    </ul>
    <hr>
    <div class="end">
        <span class="contact"><a href="#">hoangtiendan.com.vn</a></span>
        <div>tài trợ thông tin</div>
    </div>
</div>
<!-- /build:ads_1 -->
<!-- build:box-sport_style -->
    <link rel="stylesheet" href="assets/css/box-sport.css">
<!-- /build:box-sport_style -->

<!-- build:box-sport-->
    <div class="contain">
        <div class="title">
            <img src="assets/image/box-sport-title.png" alt="anh">
        </div>
        <div class="item">
            <img src="assets/image/box-sport-img1.png" alt="anh">
            <div class="item-contain">
                <div class="item-title">
                    <a href="#"> Argentina - Croatia: Gánh nặng ngàn cân của Messi
                    </a>
                </div>
                <div class="item-content">
                    <a href="#"> (Dân trí) - Argentina đang chịu nhiều áp lực sau trận
                        hòa Iceland. Ở lượt thứ 2 bảng D World Cup 2018, Messi
                        và đồng đội sẽ hứng chịu rất nhiều sức...
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="menu-item">
            <div class="list item1">
                <a href="#">
                    <img src="assets/image/box-sport-img3.png" alt="anh">
                    <div class="item-list-title">
                        Pháp - Peru: Bước ngoặt quyết định
                    </div>
                </a>
            </div>
            <div class="list item2">
                <a href="#">
                    <img src="assets/image/box-sport-img3.png" alt="anh">
                    <div class="item-list-title">
                        Mohamed Salad sớm chia tay World Cup 2018
                    </div>
                </a>
            </div>
            <div class="list item3">
                <a href="#">
                    <img src="assets/image/box-sport-img3.png" alt="anh">
                    <div class="item-list-title">
                        Xác định hai đội đi tiếp ba đội bị loại ở World Cup
                    </div>
                </a>
            </div>
            <div class="list item4" style="display: none;">
                <a href="#">
                    <img src="assets/image/box-sport-img4.png" alt="anh" >
                    <div class="item-list-title">
                        Xác định hai đội đi tiếp ba đội bị loại ở World Cup
                    </div>
                </a>
            </div>
            <div class="list item5" style="display: none;">
                <a href="#">
                    <img src="assets/image/box-sport-img4.png" alt="anh" >
                    <div class="item-list-title">
                        Xác định hai đội đi tiếp ba đội bị loại ở World Cup
                    </div>
                </a>
            </div>
            <div class="pointer">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>

    </div>
    <script src="assets/js/box-sport.js"></script>
<!-- /build:box-sport -->
<!-- build:gallery-sport_style -->
    <link rel="stylesheet" href="assets/css/gallery-sort.css">
<!-- /build:gallery-sport_style -->

<!-- build:gallery-sport -->
    <div class="contain">
        <div class="col-3">
            <img src="assets/image/gallery-sort-img1.png" alt="anh1" class="one">
            <img src="assets/image/gallery-sort-img2.png" alt="anh2" class="two">
            <img src="assets/image/gallery-sort-img3.png" alt="anh3" class="three">
        </div>
        <div class="col-2">
            <img src="assets/image/gallery-sort-img4.png" alt="anh4" class="four">
            <img src="assets/image/gallery-sort-img5.png" alt="anh5" class="fine">
        </div>
        <div class="clearfix"></div>
        <div class="content"><a href="#">Quán cô Tư nằm trên vỉa hè con đường Nguyễn Hữu Hào(quận 4)</a></div>
    </div>
<!-- /build:gallery-sport -->
<!-- build:gallery_style -->
<link rel="stylesheet" href="assets/css/gallery.css">

<!-- /build:gallery_style -->

<!-- build:gallery -->
<div class="contain">
    <div class="head">
        <a href="#">
            <h1 style="color:orangered;">e</h1>
            <h1 style="color: rgb(255, 255, 255);">Magazine</h1>
        </a>

    </div>
    <div class="point">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="slideShow">
        <div class="list item1">
            <a href="#"><img src="assets/image/gallery_1.png"></a>
            <a href="#">
                <p>Kỳ tích mang tên BTS: 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về một nhóm nhạc
                    làm nên lịch sử</p>
            </a>
        </div>
        <div class="list item2">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Nhật ký cai nghiện: Những chuỗi ngày chiến đấu với "quái vât" khủng khiếp nhất để giành lấy tương
                    lai</p>
            </a>
        </div>
        <div class="list item3">
            <a href="#"><img src="assets/image/gallery_1.png"></a>
            <a href="#">
                <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa để cứu vót
                    những thứ còn xót lại </p>
            </a>
        </div>
        <div class="list item4" style="display: none">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và
                    rất nhiều khán giả trong suốt quá trình phát sóng</p>
            </a>
        </div>
        <div class="list item5" style="display: none">
            <a href="#"><img src="assets/image/gallery_1.png"></a>
            <a href="#">
                <p>Sau rất nhiều thời gian trong khoảng 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về
                    một nhóm nhạc
                    làm nên lịch sử</p>
            </a>
        </div>
        <div class="list item4" style="display: none">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và
                    rất nhiều khán giả trong suốt quá trình phát sóng</p>
            </a>
        </div>
        <div class="list item4" style="display: none">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và
                    rất nhiều khán giả trong suốt quá trình phát sóng</p>
            </a>
        </div>

    </div>
    <div class="sliderNav" onclick="plusSlides(1)">
        <a class="sliderNext">&#10140;</a>
    </div>
    <br>
</div>
<script src="assets/js/gallery.js"></script>
<!-- /build:gallery -->
<!-- build:step10_style -->
<link rel="stylesheet" href="assets/css/step10_style.css">
<!-- /build:step10_style -->


<!-- build:step10 -->

<div class="container">
    <div class="head">
        <a href="#"><img src="assets/image/step10_head.PNG"></a>
        <a href="#">
            <h2>PHOTOSTORY</h2>
        </a>
    </div>
    <div class="point">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="slideShow">
        <div class="list">
            <a href="#"><img src="assets/image/step10_1.png"></a>
        </div>
        <div class="list">
            <a href="#"><img src="assets/image/step10_2.png"></a>
        </div>
        <div class="list">
            <a href="#"><img src="assets/image/step10_1.png"></a>
        </div>
        <div class="list" style="display: none;">
            <a href="#"><img src="assets/image/step10_2.png"></a>
        </div>
        <div class="list" style="display: none;">
            <a href="#"><img src="assets/image/step10_1.png"></a>
        </div>
        <div class="list" style="display: none;">
            <a href="#"><img src="assets/image/step10_2.png"></a>
        </div>
    </div>
    <div class="sliderNav" onclick="plusSlides(1)">
        <a class="sliderNext">&#10140;</a>
    </div>
    <br>


</div>
<script src="assets/js/gallery.js"></script>

<!-- /build:step10_style -->
<!-- build:step12_style -->

<link rel="stylesheet" href="assets/css/step12_style.css">
<!-- /build:step12_style -->


<!-- build:step12 -->
<div class="slider">
    <div class="list">
        <a href="#"> <img src="assets/image/step12_1.png" width="200px" height="126px"></a>
        <div class="content">
            <a href="#">
                <p> [Tin vừa lên]</p>
            </a>
            <a href="#" style="border-right: 1px solid rgb(212, 211, 211);">
                <h3> Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black Pink cũng không thoát</h3>
            </a>
            <a href="#"> <span> Musik</span></a>
        </div>
        <div class="numbertext">1/3</div>
    </div>
    <div class="list">
        <div class="numbertext">2/3</div>
        <a href="#"> <img src="assets/image/step11_2.png" width="200px" height="126px"></a>
        <div class="content">
            <a href="#">
                <p> [Tin hot]</p>
            </a>
            <a href="#" style="border-right: 1px solid rgb(212, 211, 211);">
                <h3> Tranh cãi trong trận đấu giữa cầu thủ và trọng tài</h3>
            </a>
            <a href="#"> <span> Thể thao</span></a>
        </div>
    </div>
    <div class="item">
        <div class="numbertext">3/3</div>
        <a href="#"> <img src="assets/image/step11_3.png" width="200px" height="126px"></a>
        <div class="content">
            <a href="#">
                <p> [Tin lên 2h]</p>
            </a>
            <a href="#" style="border-right: 1px solid rgb(212, 211, 211);">
                <h3> Cháy rừng lớn khiến cây cối rừng cháy, khói khiến động vật gột khí</h3>
            </a>
            <a href="#"> <span> Đời sống</span></a>
        </div>
    </div>
</div>
<div class="sliderNav">
    <a class="sliderPrev " onclick="plusSlides(-1);">&#8710;</a>
    <a class="sliderNext " onclick="plusSlides(1);">&#8711;</a>
</div>
<script src="assets/js/step12.js"></script>
<!-- /build:step12 -->
