@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(160px, 600px);
    font-family: $myFont;
    line-height: 1.6;
    font-size: 12px;
    border: 2px solid rgb(243, 243, 243);
    // border-radius: 3px;
}
a {
    @include tagA(rgb(34, 34, 34));
}
.title{
    
    h1{
        margin: 0;
        font-size:  14px;
        background: url(../image/ads-160x600-title.png) no-repeat left center;
        color: white;
        padding-left: 15px;
        line-height: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
}
.contain{
    padding-left: 5px;
    .item{
        padding-left: 5px;
        img{
            width: 130px;
            padding: 10px 5px 5px 5px;
        }
        .title-item{
            font-weight: bold;
            padding-bottom: 10px;
           
        }
        
    }
    .list{
        list-style: none;
        width: 100%;
        padding-left: 0px;
        font-weight: 700;
        li{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .end{
        padding-left: 5px;
        font-weight: bold;
        a{
            color: rgb(36, 171, 72);
        }
    }
}
hr{
    opacity: 0.3;
    width: 100%;
}