@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(300px, 600px);
    font-family: $myFont;
    line-height: 1.6;
    font-size: 12px;
    border: 5px solid rgb(243, 243, 243);
    border-radius: 3px;
}
a {
    @include tagA(rgb(34, 34, 34));
}

.title {
    h1 {
        background: url(../image/ads-300x600-title.png) no-repeat left center;
        color: white;
        font-size: 14px;
        padding: 10px 0px 10px 10px;
        margin: 0;
    }
}
.contain {
    .list {
        margin: 0;
        padding: 5px;
        list-style: none;
        li {
            a {
                img {
                    width: 60px;
                    float: left;
                }
                div {
                    padding-left: 70px;
                    font-weight: bold;
                    padding-top: 10px;
                }
            }
        }
    }
}
// .contain {

//     .list {
//         list-style: none;
//         background: url(../image/ads_300x250-li.png) no-repeat left center;
//         padding-left: 30px;
//         li {
//             color: rgb(85, 78, 78);
//             font-weight: bold;
//             float: left;
//         }
//     }

//     .end {
//         padding-left: 16px;
//         .contact {
//             a {
//                 color: rgb(137, 6, 13);
//             }
//             float: left;
//             font-weight: bold;
//             margin-right: 10px;
//         }
//         div {
//             padding-left: 10px;
//             color: rgb(150, 150, 150s);
//         }
//     }
// }
.clearfix {
    content: " ";
    display: table;
    clear: both;
}
hr {
    // margin: 5px 0px 5px 0px;
    opacity: 0.3;
    width: 100%;
}
