@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(300px, 290px);
    font-family: $myFont;
    line-height: 1.6;
    font-size: 12px;
    border: 5px solid rgb(243, 243, 243);
    border-radius: 3px;
}
a {
    @include tagA(rgb(34, 34, 34));
}
.title {
    background-image: url(../image/ads_300x250-title.png);
    a {
        color: rgb(248, 248, 248);
        font-weight: 700;
        font-size: 14px;
        padding-top: 7px;
        padding-left: 10px;
    }
    width: 300px;
    height: 34px;
}
.contain {
    .item {
        font-family: $myFont;
        margin: 10px 10px 10px 15px;
        img {
            width: 100px;
            margin: 0px 10px 0px 0px;
            float: left;
        }
        .item-content {
            float: left;
            width: 60%;
            .item-title {
                font-weight: bold;
                padding-bottom: 10px;
            }
            font-size: 11px;
        }
    }
    .list {
        list-style: none;
        background: url(../image/ads_300x250-li.png) no-repeat left center;
        padding-left: 30px;
        li {
            color: rgb(85, 78, 78);
            font-weight: bold;
            float: left;
        }
    }

    .end {
        padding-left: 16px;
        .contact {
            a {
                color: rgb(137, 6, 13);
            }
            float: left;
            font-weight: bold;
            margin-right: 10px;
        }
        div {
            padding-left: 10px;
            color: rgb(150, 150, 150s);
        }
    }
}
.clearfix {
    content: " ";
    display: table;
    clear: both;
}
hr {
    margin: 5px 0px 5px 0px;
    opacity: 0.3;
}
