@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    width: 100%;
    @include body(700px, 748px);
    font-family: $myFont;
    line-height: 1.6;
    font-size: 12px;
}
a {
    @include tagA(rgb(102, 102, 102));
}
.contain {
    background-color: rgb(240, 240, 240);
    margin: 10px 10px 0px 10px;
    .title {
        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    .item {
        img {
            width: 55%;
            padding: 15px 20px 10px 20px;
            float: left;
        }
        .item-contain {
            width: 35%;
            float: left;
            .item-title {
                a {
                    padding-top: 20px;
                    color: rgb(6, 66, 115);
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 25px;
                }
                padding-bottom: 10px;
            }
            .item-content {
                a {
                    color: rgb(0, 0, 0);
                    font-size: 17px;
                    font-weight: bold;
                    line-height: 20px;
                }
            }
        }
    }
    .menu-item{
        width: 100%;
        background-color: rgb(240, 240, 240);
        height: 193px;
        .list{
            float: left;
            width: 30%;
            padding: 10px;
            img{
                width: 210px;
                margin-right: 10px;
            }
            
        }
        .item3{
            img{
                height: 132px;
            }
        }
    }

}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
hr{
    margin: 0;
    padding: 0;
    opacity: 0.3;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin: 40px 0px 0px 11px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(134, 131, 131, 0.8);
  }
  .next {
    left: 624px;
    border-radius: 3px 0 0 3px;
  }