@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(800px, 784px);
    font-family: $myFont;
    line-height: 1.6;
    font-size: 12px;
}
a {
    @include tagA(rgb(102, 102, 102));
}
.contain{
    margin: 10px;
    .col-3{
        img{
            width: 32%;
            height: 161px;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .col-2{
        img{
            width: 48.5%;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
            height: 234px;
        }
    }
    .content{
        background-color: rgb(242, 242, 242);
        font-size: 15px;
        font-weight: bold;
        padding: 13px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}