@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(770px, 433px);
    font-family: $myFont;
    line-height: 1.6;
    font-size: 14px;
    margin: 12px;
}
a {
    @include tagA(rgb(102, 102, 102));
}
.contain {
    background-color: rgb(34, 34, 34);
    border-top: 5px solid rgb(249, 108, 52);
    border-radius: 3px;
    padding-left: 20px;
}
.head {
    a {
        display: inline-flex;
    }
}
.point {
    position: absolute;
    left: 700px;
    top: 33px;
    cursor: pointer;
    .dot {
       
        height: 7px;
        width: 7px;
        margin: 0 2px;
        background-color: rgb(94, 91, 91);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .dot:hover{
        background-color: rgb(223, 103, 51);
    }
}
.slideShow {
    width: 99.5%;
    overflow-x: hidden;
    z-index: 0;
    .list {
        a {
            
            img{
                width: 284px;
            }
            p{
                width: 270px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            
        }
        margin-right: 20px;
        margin-bottom: 23px;
        padding-bottom: 20px;
        float: left;
       background-color: white;
       border-radius: 6px;
    }
    display: inline-flex;
}

.sliderNav{
    left: 745px;
    position: absolute;
    font-size: 25px;
    padding: 25px 5px 25px 5px;
    background-color: rgb(223, 103, 51);
    margin-top: -315px;
    cursor: pointer;
    .sliderNext{
        color: white;
    }
}
.sliderNav:hover{
    opacity: 0.9;
}
p{
    margin: 7px;
}