@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(572px, 362px);
    font-family: $myFont;
    line-height: 1.6;
    font-size: 14px;
    margin: 12px;
}
a {
    @include tagA(rgb(102, 102, 102));
}
.container {
    background-color: rgb(34, 34, 34);
    border-top: 5px solid rgb(249, 108, 52);
    border-radius: 3px;
    padding-left: 20px;
}
.head {
    display: inline-flex;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    h2 {
        padding-left: 12px;
        margin-top: 0px;
        color: rgb(255, 255, 255);
    }
}
.point {
    position: absolute;
    left: 504px;
    top: 33px;
    cursor: pointer;
    .dot {
        cursor: pointer;
        height: 7px;
        width: 7px;
        margin: 0 2px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    } 
    .dot:hover {
        background-color: #db0909;
    }
}
.slideShow {
    width: 99.5%;
    overflow-x: hidden;
    z-index: 0;
    .list {
        a {
            
            img{
                width: 209px;
            }
            
            
        }
        margin-right: 20px;
        
        padding-bottom: 10px;
        float: left;
       border-radius: 6px;
    }
    display: inline-flex;
}

.sliderNav{
    left: 549px;
    position: absolute;
    font-size: 25px;
    padding: 25px 5px 25px 5px;
    margin-top: -234px;
    cursor: pointer;
    cursor: pointer;
    
}
.sliderNav:hover {
    background-color: rgba(243, 4, 4, 1);
}

p{
    margin: 7px;
}
