@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(565px, 140px);
    font-size: 13px;
    margin-top: 10px;
    margin-left: 6px;
    font-family: $myFont;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-top: 1px solid rgb(216, 213, 213);
}
a {
    @include tagA(rgb(11, 11, 12));
}
.slider {
    display: inline-flex;
    position: relative;
    .item {
        display: none;
        .numbertext {
            width: 35px;
            font-size: 11.4px;
            position: absolute;
            left: 532px;
            top: 62px
        }
        .content{
            margin-left: 214px;
            padding-right: 43px;
            margin-top: -123px;
            span{
                font-size: 11px;
            }
        }
    }
}
.sliderPrev {
    margin-top: -118px;
    margin-left: 545px;
    cursor: pointer;
    position: absolute;
    top: 128px;
    left: -17px;
    width: auto;
    padding: 16px;
    color: rgb(117, 110, 110);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border: 1px solid  rgb(209, 206, 206);
}
.sliderNext {
    margin-top: 88px;
    margin-left: 545px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: -17px;
    width: auto;
    padding: 16px;
    color: rgb(117, 110, 110);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border: 1px solid  rgb(209, 206, 206);
}