<!-- build:ads_2_style -->
<link rel="stylesheet" href="assets/css/ads_2_style.css">
<!-- /build:ads_2_style -->

<!-- build:ads_2 -->
<div class="title">
    <a href="#">
        <h1>KHÁM SỨC KHỎE CHUYÊN SÂU</h1>
    </a>
</div>
<div class="contain">
    <div class="item">
        <a href="#">
            <img src="assets/image/ads-160x600-img.png" alt="anh">
            <div class="title-item">
                6 lầm tưởng tai hại về vấn đề sức khỏe
            </div>
            <div class="detail-item">
                "Loại bỏ ngay 6 lầm tưởng mà bạn luôn nghĩ là đơn giản ngay..."
            </div>
        </a>
    </div>
    <hr>
    <ul class="list">
        <li><a href="#">Những điều bác sỹ không nói với bạn!</a></li>
        <hr>
        <li><a href="#">Giảm 30% khám sức khỏe cá nhân tại Hồng Ngọc</a></li>
        <hr>
        <li><a href="#">Đang khỏe mạnh có cần đi khám sức khỏe không?</a></li>
    </ul>
    <hr>
    <div class="end">
        <a href="#">BV Hồng Ngọc</a>
    </div>
</div>

<!-- /build:ads_2 -->