<!-- build:ads_1_style -->
<link rel="stylesheet" href="assets/css/ads_1_style.css">
<!-- /build:ads_1_style -->


<!-- build:ads_1 -->
<div class="title">
    <a href="#">TƯ VẤN SINH LÝ NGƯỜI BỆNH GÚT</a>
</div>
<div class="contain">
    <div class="item">
        <a href="#">
            <img src="assets/image/ads_300x250-img1.png" alt="anh">
            <div class="item-content">
                <div class="item-title">Cách giúp chấm đứt bệnh gút chỉ sau 3 tháng của một kế</div>
                <div class="item-detail">Chỉ sau 3 tháng, sức khỏe của chú Hỷ đã trở lại bình thường, cơn đau gút hầu
                    như không...</div>
            </div>

        </a>
    </div>
    <div class="clearfix"></div>
    <hr>
    <ul class="list item-1">
        <li><a href="#">Bước tiến quan trọng tăng cường sinh lý cho người bệnh gút</a></li>
    </ul>
    <hr>
    <ul class="list item-2">
        <li><a href="#">"Viagra tự nhiên" giúp người bệnh gút là mãnh hổ "phòng the"</a></li>
    </ul>
    <hr>
    <div class="end">
        <span class="contact"><a href="#">hoangtiendan.com.vn</a></span>
        <div>tài trợ thông tin</div>
    </div>
</div>
<!-- /build:ads_1 -->