<!-- build:box-sport_style -->
    <link rel="stylesheet" href="assets/css/box-sport.css">
<!-- /build:box-sport_style -->

<!-- build:box-sport-->
    <div class="contain">
        <div class="title">
            <img src="assets/image/box-sport-title.png" alt="anh">
        </div>
        <div class="item">
            <img src="assets/image/box-sport-img1.png" alt="anh">
            <div class="item-contain">
                <div class="item-title">
                    <a href="#"> Argentina - Croatia: Gánh nặng ngàn cân của Messi
                    </a>
                </div>
                <div class="item-content">
                    <a href="#"> (Dân trí) - Argentina đang chịu nhiều áp lực sau trận
                        hòa Iceland. Ở lượt thứ 2 bảng D World Cup 2018, Messi
                        và đồng đội sẽ hứng chịu rất nhiều sức...
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="menu-item">
            <div class="list item1">
                <a href="#">
                    <img src="assets/image/box-sport-img3.png" alt="anh">
                    <div class="item-list-title">
                        Pháp - Peru: Bước ngoặt quyết định
                    </div>
                </a>
            </div>
            <div class="list item2">
                <a href="#">
                    <img src="assets/image/box-sport-img3.png" alt="anh">
                    <div class="item-list-title">
                        Mohamed Salad sớm chia tay World Cup 2018
                    </div>
                </a>
            </div>
            <div class="list item3">
                <a href="#">
                    <img src="assets/image/box-sport-img3.png" alt="anh">
                    <div class="item-list-title">
                        Xác định hai đội đi tiếp ba đội bị loại ở World Cup
                    </div>
                </a>
            </div>
            <div class="list item4" style="display: none;">
                <a href="#">
                    <img src="assets/image/box-sport-img4.png" alt="anh" >
                    <div class="item-list-title">
                        Xác định hai đội đi tiếp ba đội bị loại ở World Cup
                    </div>
                </a>
            </div>
            <div class="list item5" style="display: none;">
                <a href="#">
                    <img src="assets/image/box-sport-img4.png" alt="anh" >
                    <div class="item-list-title">
                        Xác định hai đội đi tiếp ba đội bị loại ở World Cup
                    </div>
                </a>
            </div>
            <div class="pointer">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>

    </div>
    <script src="assets/js/box-sport.js"></script>
<!-- /build:box-sport -->