<!-- build:gallery-sport_style -->
    <link rel="stylesheet" href="assets/css/gallery-sort.css">
<!-- /build:gallery-sport_style -->

<!-- build:gallery-sport -->
    <div class="contain">
        <div class="col-3">
            <img src="assets/image/gallery-sort-img1.png" alt="anh1" class="one">
            <img src="assets/image/gallery-sort-img2.png" alt="anh2" class="two">
            <img src="assets/image/gallery-sort-img3.png" alt="anh3" class="three">
        </div>
        <div class="col-2">
            <img src="assets/image/gallery-sort-img4.png" alt="anh4" class="four">
            <img src="assets/image/gallery-sort-img5.png" alt="anh5" class="fine">
        </div>
        <div class="clearfix"></div>
        <div class="content"><a href="#">Quán cô Tư nằm trên vỉa hè con đường Nguyễn Hữu Hào(quận 4)</a></div>
    </div>
<!-- /build:gallery-sport -->