<!-- build:gallery_style -->
<link rel="stylesheet" href="assets/css/gallery.css">

<!-- /build:gallery_style -->

<!-- build:gallery -->
<div class="contain">
    <div class="head">
        <a href="#">
            <h1 style="color:orangered;">e</h1>
            <h1 style="color: rgb(255, 255, 255);">Magazine</h1>
        </a>

    </div>
    <div class="point">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="slideShow">
        <div class="list item1">
            <a href="#"><img src="assets/image/gallery_1.png"></a>
            <a href="#">
                <p>Kỳ tích mang tên BTS: 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về một nhóm nhạc
                    làm nên lịch sử</p>
            </a>
        </div>
        <div class="list item2">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Nhật ký cai nghiện: Những chuỗi ngày chiến đấu với "quái vât" khủng khiếp nhất để giành lấy tương
                    lai</p>
            </a>
        </div>
        <div class="list item3">
            <a href="#"><img src="assets/image/gallery_1.png"></a>
            <a href="#">
                <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa để cứu vót
                    những thứ còn xót lại </p>
            </a>
        </div>
        <div class="list item4" style="display: none">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và
                    rất nhiều khán giả trong suốt quá trình phát sóng</p>
            </a>
        </div>
        <div class="list item5" style="display: none">
            <a href="#"><img src="assets/image/gallery_1.png"></a>
            <a href="#">
                <p>Sau rất nhiều thời gian trong khoảng 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về
                    một nhóm nhạc
                    làm nên lịch sử</p>
            </a>
        </div>
        <div class="list item4" style="display: none">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và
                    rất nhiều khán giả trong suốt quá trình phát sóng</p>
            </a>
        </div>
        <div class="list item4" style="display: none">
            <a href="#"><img src="assets/image/gallery_2.png"></a>
            <a href="#">
                <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và
                    rất nhiều khán giả trong suốt quá trình phát sóng</p>
            </a>
        </div>

    </div>
    <div class="sliderNav" onclick="plusSlides(1)">
        <a class="sliderNext">&#10140;</a>
    </div>
    <br>
</div>
<script src="assets/js/gallery.js"></script>
<!-- /build:gallery -->