<!-- build:step10_style -->
<link rel="stylesheet" href="assets/css/step10_style.css">
<!-- /build:step10_style -->


<!-- build:step10 -->

<div class="container">
    <div class="head">
        <a href="#"><img src="assets/image/step10_head.PNG"></a>
        <a href="#">
            <h2>PHOTOSTORY</h2>
        </a>
    </div>
    <div class="point">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="slideShow">
        <div class="list">
            <a href="#"><img src="assets/image/step10_1.png"></a>
        </div>
        <div class="list">
            <a href="#"><img src="assets/image/step10_2.png"></a>
        </div>
        <div class="list">
            <a href="#"><img src="assets/image/step10_1.png"></a>
        </div>
        <div class="list" style="display: none;">
            <a href="#"><img src="assets/image/step10_2.png"></a>
        </div>
        <div class="list" style="display: none;">
            <a href="#"><img src="assets/image/step10_1.png"></a>
        </div>
        <div class="list" style="display: none;">
            <a href="#"><img src="assets/image/step10_2.png"></a>
        </div>
    </div>
    <div class="sliderNav" onclick="plusSlides(1)">
        <a class="sliderNext">&#10140;</a>
    </div>
    <br>


</div>
<script src="assets/js/gallery.js"></script>

<!-- /build:step10_style -->